* {
  margin: 0;
  padding: O; }

h1 {
  color: #f5f1f1;
  font-size: 50px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  text-align: center; }

h2 {
  font-size: 30px;
  text-align: center; }

header {
  background-color: #657272; }

ul li {
  align-items: center; }

ul li a {
  font-size: 27px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900; }

div .collapse {
  justify-content: center; }

.card {
  transition: all 0.3s; }
  .card.card:hover {
    transform: scale(1.1); }

/* =================================================================*/
/* main */
/*.rx {
    background-color: rgb(223, 136, 136);
  }
  
  .sol{
    background-color: rgb(28, 167, 109);
  }
  
  .lc{
    background-color: rgb(216, 241, 125);
  }
  
  .promos{
    background-color: rgb(95, 92, 241);
  }
  
  .form{
    background-color: rgb(236, 77, 228);
  }*/
/* animaciones 
  
   .text-focus-in {
      -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
              animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  }
  
   @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  */
