* {
  margin: 0;
  padding: O;
}

header {
  background-color: rgb(101, 114, 114);
}

h2 {
  font-size: 30px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

p{
  font-family:'Montserrat', sans-serif;
  font-size: 2rem;
}



li{
  font-weight: 600;
  a{
    font-family:'Montserrat', sans-serif;;
  }
}
div .collapse {
  justify-content: center;
}

.card {
  transition: all 0.3s;

  &.card:hover {
    transform: scale(1.1);
  }
}