*{
  margin: 0;
  padding: O;
  box-sizing: border-box;
}
/* =================================================================*/
/* ajustes header*/
.supnav{
  display: flex;
  align-items: center;
}

.icon{
  margin: 0 60px;
}

.title{
  font-family:'Montserrat', sans-serif;
  font-size: 2rem;
  padding: 10px;
}

 .nav-link{
   font-weight: 600;
   margin: 5px;
 }

 /* =================================================================*/
 /* main */
.carousel-item{
  width: auto;
  height: 435px;
}

 /* =================================================================*/
 /* footer */
 